

#nameField
{

  margin-bottom: 1em;
font-family: "Ubuntu", serif;

    
}



#emailID
{

  margin-bottom: 1em;
font-family: "Ubuntu", serif;

    
}



#emailID
{

  margin-bottom: 1em;
font-family: "Ubuntu", serif;

    
}
