#nameField, #emailID, #Message {
    margin-bottom: 5px;
  padding: 10px;
  font-size: 17px;
    border-style: hidden;
      width: 200px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
     background: #f1f1f1;
    font-family: cursive;
    border-style: outset;
    border-color: aliceblue;
}


 @media screen and (max-width: 600px) {
        margin-bottom: 5px;
  padding: 10px;
  font-size: 17px;
    border-style: hidden;
      width: 200px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
     background: #f1f1f1;
    font-family: cursive;
    border-style: outset;
    border-color: aliceblue;
}
